
/****************************************
  ==== RESETS
****************************************/
/*

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; imaginerias: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { imaginerias: inline-table; clear: both; }
/* Hides from IE-mac \* * html .clear { height: 1%; } .clear { imaginerias: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/
/*
html, body
{

}
body
{

}
p.header, p.footer
{

}
div.logo
{

}
div.title
{
}
.template-wrap
{

}
*/
canvas
{

}

/*
.fullscreen
{
    float: right;
    position: relative;
    z-index: 10;
}
*/
