<footer class="footer-1 bg-dark pt0 pb20">
    <div class="container">
        <div class="row">
            <hr class="mt0 mb10" />
        </div>
        <!--end of row-->
        <div class="row">

            <div class="col-sm-2 text-left">
              <ul class="list-inline social-list">
                <li>
                  <a href="https://www.facebook.com/manejodeansiedad">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/manejodeansiedad_uc/">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-7 text-center">
                <span class="fade-half">
                  Programa para el manejo de la ansiedad y el buen dormir
                  <br>
                  <a href="mailto:ansiedad@uc.cl?Subject=Contacto%20Relax UC" target="_top">Mail: ansiedad@uc.cl</a> &nbsp &nbsp <a href="tel:+56223541046">Fono: +56223541046</a>
                  <br>
                  Avda. Vicuña Mackenna 4860, Hall Universitario, 2do piso
                </span>
            </div>

            <div class="col-md-3 text-right">
              <%= image_tag("logo-puc.png", class: "logo", alt: "image")%>
            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>